
@{
    ViewBag.Title = "Index";
   
}
<h1>@ViewBag.name</h1>
<h2>Index</h2>
<table>
    <thead>
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Sex</th>
        </tr>

    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Bona</td>
            <td>M</td>
        </tr>
        <tr>
            <td>2</td>
            <td>rona</td>
            <td>F</td>
        </tr>

    </tbody>

</table>

